# Pandas Library

## Series

In [5]:
import pandas as pd
import numpy as np

`Series()` function generates **series** that consists of an index (first column) and second column consists of random values. At the bottom is the datatype of the series.

In [6]:
pd.Series(np.random.randn(5))

0    1.587452
1    0.761091
2    2.012368
3    0.805341
4    0.371636
dtype: float64

In [7]:
pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

a    0.730554
b   -0.131436
c    1.007956
d    2.397585
e   -0.680156
dtype: float64

A series can be derived from Python dictionary

In [8]:
d = {'a': 10, 'b': 20, 'c': 30}
pd.Series(d)

a    10
b    20
c    30
dtype: int64

## DataFrame

It is a **2D** data structure with columns that can be of different datatypes. DataFrame can be formed using NumPy array, lists, dicts, series, 2D NumPy array.

DataFrame can be created using dict of series by calling following commands.

In [9]:
d = {'c1': pd.Series(['A', 'B', 'C']), 'c2': pd.Series([1, 2, 3, 4])}

In [10]:
df = pd.DataFrame(d)

In [12]:
df  # missing value is set to NaN, similar to null but not exactly

    c1  c2
0    A   1
1    B   2
2    C   3
3  NaN   4

In [13]:
d = {'c1': ['A', 'B', 'C', 'D'], 'c2': [1, 2.0, 3.0, 4.0]}
df = pd.DataFrame(d)
df

  c1   c2
0  A  1.0
1  B  2.0
2  C  3.0
3  D  4.0

## Panel

Panel is a data structure that handles **3D** data.

In [16]:
d = {'Item1': pd.DataFrame(np.random.randn(4,3)), 'Item2': pd.DataFrame(np.random.randn(4,2))}
pd.Panel(d)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 3 (minor_axis)
Items axis: Item1 to Item2
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 2

## Inserting and exporting Data

The data in various forms, CSV, TSV, databases.