# Python Interactive session

Printing text is easy with Python

In [1]:
print("Hello, world")

Hello, world

For executing a script we can write python commands in a file and then execute it using <code>python filename</code>

In Python, variables have no data types. This is dynamic language and hence can be assigned variables on the fly.

In [6]:
x = 1
print(x)

1

In [8]:
y = 'your name'
print(y)

your name

We can get the type of a variable using <code>type()</code> function.

In [11]:
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [12]:
type(3.14)

float

We can also multiply string using python

In [13]:
"boo" * 3

'boobooboo'

Strings can be written in either single-quotes(') or double quotes(").
We can <bold>convert different datatypes</bold> using their class names.

In [14]:
float(2)

2.0

In [15]:
int(2.5)

2

In [16]:
str(True)

'True'

In [18]:
int("False") # it doesn't make sense so throws an error.

ValueError: invalid literal for int() with base 10: 'False'

Triple quotes can be used to make a multi-line string and they are also used to add documentation to functions and classes. We can also escape special characters using '\' character.

In [20]:
i = "team"
len(i) # returns length of string

4

In [21]:
i[1]

'e'

In [23]:
i[2:3]

'a'

In [24]:
i[:3]

'tea'

In [25]:
i[2:]

'am'

In [26]:
i[:]

'team'

In [27]:
i[-2]

'a'

In [28]:
i.find('a')

2

In [29]:
i.find('o')

-1

In [30]:
hello = "hello"

In [31]:
hello.find('l')

2

In [34]:
hello.find('l',3) # start from third index and not from beginning

3

## Functions

Functions in Python are defined using <code>def</code> keyword. All function statements are indented to identify the block of statements. The function is invoked using `()`.

In [36]:
def say_hello():
    print("hello")
say_hello()

hello

Function can also take extra parameters. These are local variables and they are not accessible from outside the function. However, global variables are accessible inside the function.

In [41]:
def say_hello(name):
    print("Hello, " + name)

In [42]:
say_hello("Piyush")

Hello, Piyush

In [43]:
name = "Piyush"
say_hello(name)

Hello, Piyush

In [44]:
def greet(name, greeting, number):
    print(greeting * number + ', ' + name)

In [46]:
# We can call functions with keyword arguments in any order
greet(greeting='hello', number=2, name='dolly')

hellohello, dolly

In [48]:
def greet(name, greeting="Hi"):
    print(greeting + ', ' + name)
greet('Elena') # we can call by default arguments if they are defined

Hi, Elena

In [49]:
greet('Piyush', 'Hello')

Hello, Piyush

We can also accept any number of arguments using `*args`.

In [50]:
def echo (*args):
    print(args)
echo (1,'fihs',2)

(1, 'fihs', 2)

This can be used to find the max, min, sum of arguments

In [53]:
def sum(*args):
    sum = 0
    for item in args:
        sum += item
    return sum
print(sum(1,2,3))
print(sum(2,3))

6
5

We can also collect variable keyword arguments as dictionary using `**`.

In [54]:
def print_dict(**kwargs):
    print(kwargs)
print_dict(a=1, steak='sauce')

{'a': 1, 'steak': 'sauce'}

Python also provides useful modules with many functionalities built into it.

In [57]:
import math as m
m.sqrt(64)

8.0

In [59]:
def hypotenuse(a,b):
    import math
    return math.sqrt(a*a + b*b)
hypotenuse(3,4)

5.0

We can also import specific function from the module and use it.

In [60]:
from math import sqrt
sqrt(64)

8.0

In [61]:
floor(1.2)

NameError: name 'floor' is not defined

In [63]:
from math import *
floor(1.2)

1

Just as in OS, command shell searches for executable programs by searching the directories listed in PATH environment, Python alos finds modules by searching directories. The module search path is stored in `sys.path`.

In [64]:
import sys
from pprint import pprint
pprint(sys.path)

['',
 '/usr/local/spark/python',
 '/usr/local/spark/python/lib/py4j-0.10.6-src.zip',
 '/opt/conda/lib/python36.zip',
 '/opt/conda/lib/python3.6',
 '/opt/conda/lib/python3.6/lib-dynload',
 '/opt/conda/lib/python3.6/site-packages',
 '/opt/conda/lib/python3.6/site-packages/Mako-1.0.7-py3.6.egg',
 '/opt/conda/lib/python3.6/site-packages/cycler-0.10.0-py3.6.egg',
 '/opt/conda/lib/python3.6/site-packages/IPython/extensions',
 '/home/ucsddse230/.ipython']

Python scripts uses shebang at the top specifying the Python environment used to execute the script.
`#!/bin/python`

### User Input

We can take user input using `input()` function. We might need to cast it to specific data type as we expect them to be.

In [66]:
x = input()
print(x)

hi
hi

In [68]:
input("Give me a number: ") # this gives us a string, we will have to cast it to int

Give me a number: 3

'3'

We can also take command line arguments using `sys.argv`.
The script can be executed using `python args.py one 2 two + one`

```python
import sys

if len(sys.argv) < 2:
    print("You've given me nothing")
else:
    print(sys.argv[1] + "? Well I disagree!")
```

## Data Structures in Python

Python offers various data structures including
- Lists
- Tuples
- Dictionaries
- Sets

In [71]:
boys = ['harish', 'naresh', 'piyush']
boys[0]

'harish'

In [72]:
empty = [] # Create empty list
leer = list() # another way to create empty list

In [73]:
boys[-1]

'piyush'

We can also have mixed data types for the lists.

In [75]:
mixed = [1, 'two', 3.14]
print(type(mixed))
print(type(mixed[1]))

<class 'list'>
<class 'str'>

In [77]:
grades_line = "90, 85, 92, 100"
grades_line.split() # without specifying character, it separates on white space.

['90,', '85,', '92,', '100']

In [78]:
grades_line.split(',')

['90', ' 85', ' 92', ' 100']

In [79]:
list('abcdefghijklmnopqrstuvwxyz')

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [83]:
# We can find if an item exists in a list
print('piyush' in boys)
print('ankit' in boys)

True
False

In [84]:
girls = ['wendy', 'annie', 'bebe']
boys + girls

['harish', 'naresh', 'piyush', 'wendy', 'annie', 'bebe']

In [85]:
# The * operator repeats a list to produce a new list
['hi'] * 5

['hi', 'hi', 'hi', 'hi', 'hi']

In [86]:
len(boys)

3

In [88]:
numbers = [34,2,5,0, -1]
print(min(numbers))
print(max(numbers))

-1
34

In [90]:
max(boys + girls)

'wendy'

In [95]:
# We can delete specific element from a list using del keyword.
five_his = ['hi'] * 5
del five_his[2]
five_his

['hi', 'hi', 'hi', 'hi']

We cannot delete the whole list. It is an object. Methods are invoked on object by appending a dot and the method name.

In [96]:
surfin_bird = "bird bird bird goes along the bird".split()
surfin_bird

['bird', 'bird', 'bird', 'goes', 'along', 'the', 'bird']

In [97]:
surfin_bird.count('bird')

4

In [99]:
boys.append('Butters')
boys

['harish', 'naresh', 'Butters', 'Butters']

In [100]:
boys.remove('Butters') # remove the first occurence of 'Butters'

In [101]:
boys

['harish', 'naresh', 'Butters']

In [102]:
boys.extend(['Tweak', 'Jimmy'])
boys

['harish', 'naresh', 'Butters', 'Tweak', 'Jimmy']

In [103]:
boys.pop() # return the last element

'Jimmy'

In [105]:
boys

['harish', 'naresh', 'Butters', 'Tweak']

In [108]:
boys[::-1] # return reverse list

['Tweak', 'Butters', 'naresh', 'harish']

In [109]:
brats = boys
brats

['harish', 'naresh', 'Butters', 'Tweak']

In [110]:
brats.append('Sam')
boys

['harish', 'naresh', 'Butters', 'Tweak', 'Sam']

Objects are referred by reference. Therefore, change in one will change the other.

In [111]:
# after reassignment, brats is not boys
brats = brats + ['bebe', 'wendy']
brats

['harish', 'naresh', 'Butters', 'Tweak', 'Sam', 'bebe', 'wendy']

In [112]:
boys

['harish', 'naresh', 'Butters', 'Tweak', 'Sam']

In [114]:
first_two = boys[:2]
first_two

['harish', 'naresh']

In [115]:
# slices on left hand side allows for flexible assignment
boys

['harish', 'naresh', 'Butters', 'Tweak', 'Sam']

In [116]:
boys[0:2] = ['Randy', 'Sharon', 'Geralnd']
boys

['Randy', 'Sharon', 'Geralnd', 'Butters', 'Tweak', 'Sam']

In [117]:
aretha = ['R','E','S','P','E','C','T']
"-".join(aretha)

'R-E-S-P-E-C-T'

In [118]:
sorted(aretha) # returns a new array

['C', 'E', 'E', 'P', 'R', 'S', 'T']

In [120]:
aretha

['R', 'E', 'S', 'P', 'E', 'C', 'T']

In [121]:
aretha.sort()
aretha # sorts in line

['C', 'E', 'E', 'P', 'R', 'S', 'T']

In [123]:
grades_line = ['Chris', 100, 90, 95]
chris_grades = grades_line[1:]
chris_grades

[100, 90, 95]

**Tuples** are like lists, but are immutable. Tuples can be used in assignments to "unpack" a sequence.

In [127]:
a,b = [1,2]
a

1

In [128]:
# Tuple assignment can be used to swap values
b,a = a,b

In [129]:
a,b

(2, 1)

**Dictionary** is a map from keys to values. Create dictionary with `{}`

In [130]:
capitals = {}
capitals['Georgia'] = 'Atlanta'
capitals['Gujarat'] = 'Gandhinagar'
capitals['Ontario'] = 'Ottawa'
capitals

{'Georgia': 'Atlanta', 'Gujarat': 'Gandhinagar', 'Ontario': 'Ottawa'}

In [131]:
capitals['Ontario']

'Ottawa'

In [132]:
capitals['Gujarat'] = 'Ahmedabad'
capitals

{'Georgia': 'Atlanta', 'Gujarat': 'Ahmedabad', 'Ontario': 'Ottawa'}

In [133]:
# remote a key value pair using 'del' statement.
del capitals['Georgia']
capitals

{'Gujarat': 'Ahmedabad', 'Ontario': 'Ottawa'}

In [134]:
# We can use 'in' operator to test if a key exists in dictionary.
print('Georgia' in capitals)
print('Gujarat' in capitals)

False
True

We can extend a dictionary using `update()` method, get values as a list with `values()` method and keys as list using `keys()` method. We can also get key-value pairs as tuple using `items()` method.

In [135]:
capitals.update({'Tennessee': 'Nashville', 'Mississippi': 'Jackson'})
capitals.values()

dict_values(['Ahmedabad', 'Ottawa', 'Nashville', 'Jackson'])

In [136]:
capitals.keys()

dict_keys(['Gujarat', 'Ontario', 'Tennessee', 'Mississippi'])

In [137]:
capitals.items()

dict_items([('Gujarat', 'Ahmedabad'), ('Ontario', 'Ottawa'), ('Tennessee', 'Nashville'), ('Mississippi', 'Jackson')])

In [139]:
# Any sequence(list or tuple) of two-element sequences can be converted to a dictionary.
dict([[1,1], [2,4], [3,9],[4,16]])

{1: 1, 2: 4, 3: 9, 4: 16}

In [142]:
# Even a list of two-character strings can be converted to dict.
dict(['a1','b2','c3','c4']) # the new pair overwrites older pair for 'c'

{'a': '1', 'b': '2', 'c': '4'}

**Sets** have no duplicates. They can be iterated over but can't be accessed by index. Sequence is not guaranteed. Set can be created using `set()` function and elements can be added with `add()` method.

In [143]:
names = set()
names.add('Ally')
names.add('Sally')
names.add('Jally')
names.add('Ally')
names

{'Ally', 'Jally', 'Sally'}

In [144]:
set([1,2,4,5,3,2,4])

{1, 2, 3, 4, 5}

In [145]:
a = {1,2}
b = {2,3}
a & b # same  as a.intersection(b)

{2}

In [146]:
a | b # same as a.union(b)

{1, 2, 3}

In [147]:
a - b # same as a.difference(b)

{1}

In [148]:
a.difference(b)

{1}

In [149]:
a ^ b # same as a.symmetric_difference(b)

{1, 3}

In [150]:
# A predicate functions asks a questions with a True or False answer.
a <= b # a.issubset(b)

False

In [151]:
a < b

False

In [152]:
a >= b # a.issuperset(b)

False

In [153]:
a > b # proper superset

False

In [155]:
# get help in iPython using 
sum?

In [157]:
# Run a python script within Python using:
%run people.py # the file should be in the same directory

ERROR:root:File `'people.py'` not found.

In [158]:
# get help with magic command with ?
%cd?

In [159]:
# run a shell command by prepending with '!'
!ls

collinearPoints.ipynb  data.txt			 Untitled.ipynb
data50.txt	       non-collinear-points.jpg

In [162]:
%ls

Data/  Data.tgz  pa1/  pa1.tgz  Section1Notebooks.tgz  Section1-Spark-Basics/

In [168]:
ls # with automatic turned on, they can be executed as if they were python commands

Data/  Data.tgz  pa1/  pa1.tgz  Section1Notebooks.tgz  Section1-Spark-Basics/

We can toggle automatic using 
`%automagic`

In [171]:
%automagic

Automagic is OFF, % prefix IS needed for line magics.

In [173]:
%automagic

Automagic is ON, % prefix IS NOT needed for line magics.

These commands work with **automagic**. %cd, %cat, %cp, %env, %ls, %mkdir, %more, %mv, %pwd, %rm, %rmdir.

In [175]:
# Enter a debug session with %debug

In [ ]:
%debug

> <ipython-input-172-023cc93272e5>(1)<module>()
----> 1 ls

ipdb> print("hello")
hello
ipdb> "helo"  + 1
*** TypeError: must be str, not int

In [ ]:
%debug

### Control Structures in Python

In Python, boolean values have a 'bool' type. These are equivalent to False in Python.

```python
False
None
0
""
[] # empty list
() # empty tuple
{} # empty dict
set() # empty set
```

Python has logical operators `and` and `or`

In [3]:
num = 3
if (num % 2) == 0:
    print ("I like " + str(num)) # we cannot add number and string without converting number to string
else:
    print("I'm not concerned about " + str(num))

I'm not concerned about 3

We can also have nested if...else statements. There is also short-circuit evaluation which is quite shorter syntax.

```python
if (kids != 0) and ((pieces / kids) >= 2):
    print("Each kid may have two pieces.")

**while loop** can be used to loop through some statements.

In [6]:
def countdown(n):
    while n > 0:
        print(n)
        n -= 1
    print("Blast off!")
countdown(5)

5
4
3
2
1
Blast off!

**for loop** is also used for easier iteration.

In [7]:
animal = "Peacock"
for animal in ['Giraffe', 'Alligator', 'Liger']:
    print(animal)

Giraffe
Alligator
Liger

In [8]:
animal

'Liger'

In Python, errors are handled using `try ... catch` statements.

```python
try:
    # code that may throw errors
except ExceptionType:
    # code that handles those errors
    # here ExceptionType is optional. If left, it will catch all exceptions.
```

In [10]:
def get_number_from_user():
    input_is_invalid = True
    while input_is_invalid:
        num = input("Please enter a whole number.")
        try:
            num = int(num)
            input_is_invalid = False
        except ValueError:
            print(num + ' is not a whole number. Try again')
    return num
get_number_from_user()

Please enter a whole number.3.4
3.4 is not a whole number. Try again
Please enter a whole number.asdf
asdf is not a whole number. Try again
Please enter a whole number.3

3

### Functional Programming

Functions are first class, means they can be stored in variables, passed as arguments to another functions or returned from functions.

**Higher order function** is a function that takes another function as a parameter or returns a function as a value.

In [11]:
import pprint as pp
studs = [('Stan', 2.5, 'ISyE'), ('Kyle', 2.2, 'CS'), ('Cartman', 2.4, 'CmpE'), ('Kenny', 4.0, 'ME')]

In [12]:
pp.pprint(sorted(studs))

[('Cartman', 2.4, 'CmpE'),
 ('Kenny', 4.0, 'ME'),
 ('Kyle', 2.2, 'CS'),
 ('Stan', 2.5, 'ISyE')]

In [14]:
def by_gpa(stud):
    return stud[1]
pp.pprint(sorted(studs, key=by_gpa))

[('Kyle', 2.2, 'CS'),
 ('Cartman', 2.4, 'CmpE'),
 ('Stan', 2.5, 'ISyE'),
 ('Kenny', 4.0, 'ME')]

In [15]:
pp.pprint(sorted(studs, key=lambda t: t[1]))

[('Kyle', 2.2, 'CS'),
 ('Cartman', 2.4, 'CmpE'),
 ('Stan', 2.5, 'ISyE'),
 ('Kenny', 4.0, 'ME')]

In [16]:
houses = ['Stark', 'Lannister', 'Targaryen']
shout = []
for house in houses:
    shout.append(house.upper())
shout

['STARK', 'LANNISTER', 'TARGARYEN']

In [17]:
# In functional manner mapping:
list(map(lambda house: house.upper(), houses))

['STARK', 'LANNISTER', 'TARGARYEN']

In [20]:
# filter operation on list
nums = [0,1,2,4,2,3,4,56,5]
list(filter(lambda x: x % 2 ==0, nums))

[0, 2, 4, 2, 4, 56]

In [21]:
# list comprehension
grades = [100, 90, 0, 80]
[x for x in grades]

[100, 90, 0, 80]

In [22]:
[x + 10 for x in grades]

[110, 100, 10, 90]

In [23]:
[x + 50 for x in grades if x < 50]

[50]

In [24]:
words = ['Winter is coming', 'Hear me loud', 'Fire and blood']
list(zip(houses, words))

[('Stark', 'Winter is coming'),
 ('Lannister', 'Hear me loud'),
 ('Targaryen', 'Fire and blood')]

In [26]:
# create dictionary with two lists
house2words = {house: words for house, words in zip(houses, words)}
house2words

{'Lannister': 'Hear me loud',
 'Stark': 'Winter is coming',
 'Targaryen': 'Fire and blood'}

In [27]:
dict(zip(houses,words))

{'Lannister': 'Hear me loud',
 'Stark': 'Winter is coming',
 'Targaryen': 'Fire and blood'}

In [28]:
import functools
functools.reduce(lambda x,y: x+y, [0,1,2,3,4,5])

15

In [29]:
# factorial in functional manner
functools.reduce(lambda x,y: x*y, [1,2,3,4,5])

120